/*************/
/*  IMPORTS  */
/*************/
/************/
/*  COLORS  */
/************/
/*****************/
/*  VIEW STATES  */
/*****************/
/***********************/
/*  ACHIEVEMENTS LIST  */
/***********************/
#achievements #achievementsListView {
  height: 100%;
  width: 100%;
}
#achievements #achievementsListView .win-surface {
  margin-left: 50px;
  margin-right: 70px;
}
#achievements #achievementsListView .win-surface .win-itemscontainer {
  width: auto !important;
}
#achievements #achievementsListView .win-surface .win-itemscontainer .win-itemsblock {
  height: 75%;
}

.achievementsListItem {
  width: 400px;
  height: 80px;
  padding: 5px;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  background-color: #f58722;
}
.achievementsListItem .name {
  font-size: 30px;
  margin: -5px 0 0 5px;
}
.achievementsListItem .description {
  font-size: 18px;
  line-height: 20px;
  margin: 35px 15px 0 6px;
}
.achievementsListItem .lockIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
}
.achievementsListItem .lockIconContainer {
  position: absolute;
  top: -15px;
  right: 0;
  border-color: #871816 #871816 transparent transparent;
  border-style: solid;
  border-width: 30px;
}
