/*************/
/*  IMPORTS  */
/*************/
/************/
/*  COLORS  */
/************/
/**************/
/*  HUB PAGE  */
/**************/
.hubpage header[role=banner] {
  position: relative;
  z-index: 2;
}
.hubpage section[role=main] {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  z-index: 1;
}
.hubpage .hub .win-hub-surface {
  height: 100%;
}

.win-hub-horizontal .win-hub-section-header {
  margin: 0px;
  margin-left: 5px;
}
.win-hub-horizontal .win-hub-section-header h2 {
  font-size: 32px;
  font-weight: medium;
  color: #871816;
}
.win-hub-horizontal .win-hub-section-header .win-hub-section-header-chevron {
  margin-top: 5px;
}

/*************************/
/*  NEW GAME SEARCH BOX  */
/*************************/
#newGameSearchBox {
  position: absolute;
  top: 100px;
  right: 350px;
  width: 350px;
}
#newGameSearchBox .win-searchbox-button-input-focus {
  background-color: #871816;
}
#newGameSearchBox .win-searchbox-suggestion-selected {
  background-color: #871816;
}
#newGameSearchBox .win-searchbox-flyout-highlighttext {
  color: #000;
  font-weight: bold;
}
#newGameSearchBox .win-searchbox-suggestion-result-text {
  width: 250px;
}

/*****************/
/*  GAMES LISTS  */
/*****************/
#singlePlayerGamesListView {
  height: 100%;
  /* Selected items */
}
#singlePlayerGamesListView .newGameListItem {
  font-size: 44px;
  margin-top: -10px;
}
#singlePlayerGamesListView .gamesListItem {
  width: 200px;
  height: 200px;
  padding: 5px;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  background-color: #f58722;
}
#singlePlayerGamesListView .gamesListItem div {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 1;
  text-align: center;
}
#singlePlayerGamesListView .gamesListItem .score {
  font-size: 44px;
  margin-top: 25px;
}
#singlePlayerGamesListView .gamesListItem .numRoundsCompleted {
  font-size: 18px;
  line-height: 10px;
  margin-top: -30px;
}
#singlePlayerGamesListView .gamesListItem .timeRemaining {
  font-size: 18px;
}
#singlePlayerGamesListView .numLetters {
  position: absolute;
  top: -28px;
  left: 12px;
  font-size: 26px;
}
#singlePlayerGamesListView .numLettersContainer {
  position: absolute;
  top: -15px;
  left: 0;
  border-color: #871816 transparent transparent #871816;
  border-style: solid;
  border-width: 30px;
}
#singlePlayerGamesListView .win-selectioncheckmarkbackground {
  border-right-color: #871816;
  border-top-color: #871816;
}
#singlePlayerGamesListView .win-selectionborder {
  border-color: #871816;
}

#yourTurnMultiplayerGamesListView, #theirTurnMultiplayerGamesListView {
  height: 100%;
  /* Selected items */
}
#yourTurnMultiplayerGamesListView .multiplayerGamesListItem, #theirTurnMultiplayerGamesListView .multiplayerGamesListItem {
  width: 350px;
  height: 100px;
  padding: 5px;
  overflow: hidden;
  display: -ms-grid;
  background-color: #f58722;
}
#yourTurnMultiplayerGamesListView .multiplayerGamesListItem .newGameListItem > p, #theirTurnMultiplayerGamesListView .multiplayerGamesListItem .newGameListItem > p {
  margin-top: 16px;
  font-size: 44px;
  text-align: center;
  width: 350px;
}
#yourTurnMultiplayerGamesListView .multiplayerGamesListItem div, #theirTurnMultiplayerGamesListView .multiplayerGamesListItem div {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 1;
  display: -ms-grid;
}
#yourTurnMultiplayerGamesListView .multiplayerGamesListItem div img, #theirTurnMultiplayerGamesListView .multiplayerGamesListItem div img {
  width: 90px;
  height: 90px;
  margin: 5px;
  -ms-grid-column: 1;
}
#yourTurnMultiplayerGamesListView .multiplayerGamesListItem div div, #theirTurnMultiplayerGamesListView .multiplayerGamesListItem div div {
  margin: 5px;
  -ms-grid-column: 2;
}
#yourTurnMultiplayerGamesListView .multiplayerGamesListItem div div .opponentName, #theirTurnMultiplayerGamesListView .multiplayerGamesListItem div div .opponentName {
  font-size: 22px;
  margin: 0;
  padding: 0;
}
#yourTurnMultiplayerGamesListView .multiplayerGamesListItem div div .scoreText, #theirTurnMultiplayerGamesListView .multiplayerGamesListItem div div .scoreText {
  font-size: 14px;
  margin: 30px 0 0 0;
  padding: 0;
}
#yourTurnMultiplayerGamesListView .win-selectioncheckmarkbackground, #theirTurnMultiplayerGamesListView .win-selectioncheckmarkbackground {
  border-right-color: #871816;
  border-top-color: #871816;
}
#yourTurnMultiplayerGamesListView .win-selectionborder, #theirTurnMultiplayerGamesListView .win-selectionborder {
  border-color: #871816;
}

/*************/
/*  APP BAR  */
/*************/
.appBarFlyout {
  width: 220px;
  max-width: 220px;
}
.appBarFlyout p {
  margin: -10px auto 20px auto;
}
.appBarFlyout #confirmDeleteSelectedGamesButton, .appBarFlyout #confirmForfeitSelectedGamesButton {
  margin-right: 30px;
}
