/*************/
/*  IMPORTS  */
/*************/
/************/
/*  COLORS  */
/************/
/**********************/
/*  HIGH SCORES ITEM  */
/**********************/
.noHighScoresListItem {
  padding-top: 20px;
  font-size: 38px;
  margin-top: -15px;
}

.highScoresListItem {
  width: 200px;
  height: 200px;
  padding: 5px;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  background-color: #f58722;
}
.highScoresListItem div {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 1;
  text-align: center;
}
.highScoresListItem .score {
  font-size: 44px;
  margin-top: 25px;
}
.highScoresListItem .numRoundsCompleted {
  font-size: 18px;
  line-height: 10px;
  margin-top: -30px;
}
.highScoresListItem .numWordsFound {
  font-size: 18px;
}
.highScoresListItem .numLetters {
  position: absolute;
  top: -28px;
  left: 12px;
  font-size: 26px;
}
.highScoresListItem .numLettersContainer {
  position: absolute;
  top: -15px;
  left: 0;
  border-color: #871816 transparent transparent #871816;
  border-style: solid;
  border-width: 30px;
}
