$mainMenuOrangeWidth: 275px;
$mainMenuOrangeHeight: 275px;
$submenuOrangeWidth: 80px;
$submenuOrangeHeight: 80px;
$floatingHouseStudiosLogoWidth: 196px;
$floatingHouseStudiosLogoHeight: 125px;
$centerContainerWidth: 940px;
$centerContainerHeight: 750px;

body {
    min-width: 325px;
    min-height: 750px;
    margin: 0px;
    padding: 0px;
}

%hidden {
    opacity: 0;
}

%centeredHorizontally {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

%centeredVertically {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

#centerContainer {
    @extend %centeredHorizontally;
    @extend %centeredVertically;
    width: $centerContainerWidth;
    height: $centerContainerHeight;
}

#rusticCitrusLogo {
    @extend %hidden;
    @extend %centeredHorizontally;
    width: 576px;
}

%orangeButton {
    @extend %hidden;
    cursor: pointer;
}

#mainMenuButtonsContainer {
    @extend %centeredHorizontally;
    bottom: 0px;
    margin-left: 160px;

    img {
        @extend %orangeButton;
        width: $mainMenuOrangeWidth;
        height: $mainMenuOrangeHeight;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

#submenuButtonsContainer {
    position: absolute;
    right: 50px;
    bottom: 50px;

    img {
        @extend %orangeButton;
        width: $submenuOrangeWidth;
        height: $submenuOrangeHeight;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

#floatingHouseStudiosLogo {
    @extend %hidden;
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: $floatingHouseStudiosLogoWidth;
    height: $floatingHouseStudiosLogoHeight;
}

#helpOverlay {
    position: absolute;
    color: #FFF;
    display: none;
    border: solid 2px black;
    padding: 0 30px 0 30px;
    background-color: #F58722;
    width: 350px;
    height: 100%;
    height: calc(100% - 4px);
    top: 0;
    right: 0;
    overflow-y: scroll;
    font-family: "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

#closeHelpOverlayButton {
    display: block;
    font-family: "Segoe UI", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
    font-size: 20px;
    font-weight:600;
    border: solid 2px #FFF;
    background-color: transparent;
    color: #FFF;
    width: 200px;
    height: 75px;
    margin: 30px auto 30px auto;

    &:hover {
        background-color: rgba(255, 255, 255, 0.13);
    }

    &:active {
        background-color: #FFF;
        color: #000;
    }
}

@media screen and (max-height: 750px) {
    #centerContainer {
        margin-top: 0;
        margin-bottom: 0;
    }

    #submenuButtonsContainer {
        top: $centerContainerHeight - $submenuOrangeHeight - 50;
    }

    #floatingHouseStudiosLogo {
        top: $centerContainerHeight - $floatingHouseStudiosLogoHeight - 50;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1700px) {
    #submenuButtonsContainer {
        right: 25px;
        bottom: 25px;
        img {
            display: block;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }

    #floatingHouseStudiosLogo {
        width: 150px;
        height: 100px;
        left: 25px;
        bottom: 25px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1350px) {
    #rusticCitrusLogo {
        width: 450px;
    }

    $centerContainerWidth: 708px;
    $centerContainerHeight: 600px;
    #centerContainer {
        width: $centerContainerWidth;
        height: $centerContainerHeight;
        padding-bottom: 150px;
    }

    $mainMenuOrangeWidth: 200px;
    $mainMenuOrangeHeight: 200px;
    #mainMenuButtonsContainer {
        bottom: 200px;

        img {
            width: $mainMenuOrangeWidth;
            height: $mainMenuOrangeHeight;
        }
    }

    #floatingHouseStudiosLogo {
        width: 150px;
        height: 100px;
        left: 50px;
        bottom: 50px;
    }
}

@media screen and (min-width: 625px) and (max-width: 800px) {
    #rusticCitrusLogo {
        width: 400px;
    }

    $centerContainerWidth: 600px;
    $centerContainerHeight: 700px;
    #centerContainer {
        width: $centerContainerWidth;
        height: $centerContainerHeight;
    }

    $mainMenuOrangeWidth: 162px;
    $mainMenuOrangeHeight: 162px;
    #mainMenuButtonsContainer {
        bottom: 200px;

        img {
            width: $mainMenuOrangeWidth;
            height: $mainMenuOrangeHeight;
        }
    }

    #floatingHouseStudiosLogo {
        width: 150px;
        height: 100px;
        left: 50px;
        bottom: 50px;
    }
}

@media screen and (max-width: 625px) {
    body {
        min-height: 850px;
    }

    #rusticCitrusLogo {
        width: 270px;
    }

    $centerContainerWidth: 300px;
    $centerContainerHeight: 95%;
    #centerContainer {
        width: $centerContainerWidth;
        height: $centerContainerHeight;
    }

    $mainMenuOrangeWidth: 130px;
    $mainMenuOrangeHeight: 130px;
    #mainMenuButtonsContainer {
        top: 200px;
        left: 50%;
        margin-left: -65px;

        img {
            width: $mainMenuOrangeWidth;
            height: $mainMenuOrangeHeight;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    #submenuButtonsContainer {
        display: block;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        bottom: 25px;
    }

    #floatingHouseStudiosLogo {
        display: none;
    }
}








/* Height media queries */
/*@media screen and (min-height: 800px) and (max-height: 915px) {
    #rusticCitrusLogo {
        width: 500px;
    }

    %mainMenuLargeOrangeButton {
        width: 225px;
        height: 225px;
    }

    #mainMenuPlayButton {
        right: 110px;
    }

    #mainMenuWindowsStoreButton {
        left: 110px;
    }
}

@media screen and (min-height: 700px) and (max-height: 800px) {
    #rusticCitrusLogo {
        width: 420px;
    }

    %mainMenuLargeOrangeButton {
        width: 190px;
        height: 190px;
    }

    #mainMenuPlayButton {
        right: 90px;
    }

    #mainMenuWindowsStoreButton {
        left: 90px;
    }
}

@media screen and (min-height: 0px) and (max-height: 700px) {
    #rusticCitrusLogo {
        top: 30px;
        width: 350px;
    }

    %mainMenuLargeOrangeButton {
        bottom: 30px;
        width: 140px;
        height: 140px;
    }

    #mainMenuPlayButton {
        right: 70px;
    }

    #mainMenuWindowsStoreButton {
        left: 70px;
    }
}*/

/* Width media queries */
/*@media screen and (min-width: 1300px) and (max-width: 1500px) {
    #rusticCitrusLogo {
        width: 500px;
    }

    %mainMenuLargeOrangeButton {
        width: 225px;
        height: 225px;
    }

    #mainMenuPlayButton {
        right: 70px;
    }

    #mainMenuWindowsStoreButton {
        left: 70px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    #rusticCitrusLogo {
        width: 450px;
    }

    %mainMenuLargeOrangeButton {
        width: 200px;
        height: 200px;
    }

    #mainMenuPlayButton {
        right: 70px;
    }

    #mainMenuWindowsStoreButton {
        left: 70px;
    }
}

@media screen and (max-width: 1100px) {
    #rusticCitrusLogo {
        top: 25px;
        width: 400px;
    }

    %mainMenuLargeOrangeButton {
        bottom: 220px;
        width: 190px;
        height: 190px;
    }

    #mainMenuPlayButton {
        right: 70px;
    }

    #mainMenuWindowsStoreButton {
        left: 70px;
    }
}*/
