/**********************/
/*  GLOBAL VARIABLES  */
/**********************/
$orange: #F58722;
$red: #871816;


/******************/
/*  CUSTOM FONTS  */
/******************/
@font-face {
    font-family: "GeoSansLight";
    src: url("../resources/fonts/GeoSansLight.ttf");
}


/***************/
/*  NORMALIZE  */
/***************/
* {
    margin: 0px;
    padding: 0px;
    -ms-touch-action: auto;
}

img {
    text-decoration: none;
    border: 0;
}

/* Set html and body height to 100% to get sections to size properly */
html, body {
    height: 100%;
}

@viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}


/**************/
/*  SECTIONS  */
/**************/
#mainSection, #gameBoardSection, #savedGamesSection, #highScoresSection, #recapSection {
    position: relative;
    height: 100%;
    min-height: 800px;
}

#emailFormSection {
    position: relative;
    height: 500px;
    min-height: 500px;
}

#copyrightSection {
    position: relative;
    height: 200px;
    min-height: 200px;
}
 
#mainSection, #savedGamesSection, #copyrightSection  {
    background-color: $orange;
}

#gameBoardSection, #highScoresSection, #emailFormSection {
    background-color: $red;
}

#recapSection {
    background-image: url("../resources/images/woodBackground.png");
}

%sectionScreenshot {
    position: absolute;
    display: block;
    top: 50%;
    width: 724px;
    margin: 0;
}

%sectionScreenshotCenter {
    @extend %sectionScreenshot;
    left: 50%;
    margin: -250px 0 0 -362px;
}

%sectionScreenshotLeft {
    @extend %sectionScreenshot;
    left: 50%;
    margin-left: -600px;
}

%sectionScreenshotRight {
    @extend %sectionScreenshot;
    right: 50%;
    margin-right: -600px;
}

%sectionDescription {
    position: absolute;
    display: block;
    width: 400px;
    top: 50%;
    color: #FFFFFF;
    font-size: 36px;
    font-family: "GeoSansLight";
    text-align: justify;
}

%sectionDescriptionLeft {
    @extend %sectionDescription;
    right: 50%;
    height: 500px;
    top: 50%;
    margin: -125px 200px 0 0;
}

%sectionDescriptionRight {
    @extend %sectionDescription;
    left: 50%;
    height: 500px;
    top: 50%;
    margin: -125px 0 0 200px;
}

/*******************/
/*  SCROLL BUTTON  */
/*******************/
#scrollButton {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    z-index: 5;
    opacity: 0.8;
    
    &:hover {
        opacity: 1.0;
    }
}

/******************/
/*  MAIN SECTION  */
/******************/
#headerRusticCitrusLogo {
    float: left;
    margin: 20px 0 0 30px;
    height: 150px;
}

#headerLinks {
    float: right;
    margin: 50px 50px 0 0;
    text-align: center;
}

%headerLink {
    float: right;
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    font-family: "GeoSansLight";
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
    display: inline-block;
    
    &:hover {
        opacity: 1;
    }
}

#playOnlineLink, #contactLink {
    @extend %headerLink;
    padding: 0;
    margin: 10px 40px 0 0;
}

#downloadLink {
    @extend %headerLink;
    border: solid 2px #FFFFFF;
    border-radius: 5px;
    
    &:hover {
        background: $red;
        border-width: 0;
        padding: 12px 22px 12px 22px;
        opacity: 0.8;
    }
    
    &:active {
        opacity: 1.0;
    }
}

.clear {
    float: none;
    clear: both;
}

#mainMenuScreenshot {
    @extend %sectionScreenshotCenter;
    display: none;
}


/************************/
/*  GAME BOARD SECTION  */
/************************/
#gameBoardSection {
    img {
        @extend %sectionScreenshotLeft;
        opacity: 0;
        margin-top: -211px;
    }
    
    p {
        @extend %sectionDescriptionRight;
        height: 220px;
        margin-top: -110px;
        opacity: 0;
    }
}


/*************************/
/*  SAVED GAMES SECTION  */
/*************************/
#savedGamesSection {
    img {
        @extend %sectionScreenshotRight;
        opacity: 0;
        margin-top: -266px;
    }
    
    p {
        @extend %sectionDescriptionLeft;
        height: 180px;
        margin-top: -90px;
        opacity: 0;
    }
}


/*************************/
/*  HIGH SCORES SECTION  */
/*************************/
#highScoresSection {
    img {
        @extend %sectionScreenshotLeft;
        opacity: 0;
        margin-top: -228px;
    }
    
    p {
        @extend %sectionDescriptionRight;
        height: 180px;
        margin-top: -90px;
        opacity: 0;
    }
}


/*******************/
/*  RECAP SECTION  */
/*******************/
#recapSection {
    div {
        position: absolute;
        display: block;
        top: 50%;
        margin-top: -300px;
        left: 50%;
        margin-left: -230px;
        width: 460px;
        height: 600px;
    }
    
    #rusticCitrusColorLogo {
        display: block;
        margin: 0 auto 0 auto;
        width: 460px;
    }

    #windowsStoreBadge {
        @extend %badge;
    }

    #playOnlineBadge {
        @extend %badge;
    }
}

%badge {
    display: block;
    width: 460px;
    margin: 32px auto 0 auto;
    opacity: 0.8;
    
    &:hover {
        opacity: 0.9;
    }
    
    &:active {
        opacity: 1.0;
    }
}

/************************/
/*  EMAIL FORM SECTION  */
/************************/
#emailForm {
    position: absolute;
    width: 500px;
    height: 260px;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -250px;
}

#emailFormSuccessMessage {
    position: absolute;
    width: 500px;
    height: 90px;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -250px;
    color: #FFF;
    font-size: 36px;
    font-family: "GeoSansLight";
    text-align: center;
    display: none;
}

#emailFormMessage {
    color: #FFF;
    font-family: "GeoSansLight";
    font-size: 36px;
    text-align: center;
}

#invalidEmailWarning {
    display: none;
    color: #FFF;
    font-family: "Verdana";
    font-size: 14px;
    margin-top: 7px;
}

#emailPolicy {
    color: #FFF;
    font-family: "Verdana";
    font-size: 14px;
    margin-top: 5px;
}

#emailForm input {
    display: block;
    line-height: 1.5;
    line-height: 1.0\0; /* IE hack */
    font-family: "Verdana";
    font-size: 1.4em;
    margin: 30px 0 0 0;
    padding: 10px 10px 10px 10px;
    color: $orange;
    width: 475px;
    border: 3px solid #FFF;
    background: transparent;
    
    &:focus {
        outline: none;
    }
}

#emailForm #emailFormSubmitButton {
    display: block;
    background: transparent;
    color: #fff;
    width: 70px;
    cursor: pointer;
    padding: 15px 30px 15px 30px;
    margin: 40px auto 0 auto;
    font-family: "Verdana";
    font-size: 1.1em;
    border-radius: 5px;
    border: solid 2px #FFFFFF;
    text-align: center;

    &:hover {
        border-width: 0px;
        padding: 17px 32px 17px 32px;
        background: $orange;
        opacity: 0.9;
    }
    
    &:active {
        opacity: 1;
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFFFFF;
    font-style: italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FFFFFF;
    font-style: italic;
}
 
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FFFFFF;
    font-style: italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FFFFFF;
    font-style: italic;
}

/***********************/
/*  COPYRIGHT SECTION  */
/***********************/
#copyrightSection {
    div {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 334px;
        height: 150px;
        margin: -75px 0 0 -167px;
    }
    
    p {
        position: relative;
        float: left;
        line-height: 20px;
        top: 50%;
        margin: -10px 10px 0 0;
        color: #FFF;
        font-family: "Verdana";
        font-size: 15px;
    }
    
    #floatingHouseStudiosLogo {
        position: relative;
        float: right;
        height: 100px;
        top: 50%;
        margin: -50px 0 0 0;
    }
}


/*******************/
/*  MEDIA QUERIES  */
/*******************/
@media all and (min-width: 1000px) and (max-width: 1300px) {
    %sectionScreenshot {
        width: 550px;
    }

    %sectionScreenshotCenter {
        margin: -190px 0 0 -275px;
    }

    %sectionScreenshotLeft {
        margin-left: -450px;
    }

    %sectionScreenshotRight {
        margin-right: -450px;
    }

    %sectionDescription {
        width: 300px;
        font-size: 30px;
    }

    %sectionDescriptionLeft {
        margin-right: 150px;
    }

    %sectionDescriptionRight {
        margin-left: 150px;
    }
    
    #gameBoardSection  {
        img {
            margin-top: -160px;
        }
    
        p {
            height: 210px;
            margin-top: -105px;
        }
    }
    
    #savedGamesSection  {
        img {
            margin-top: -202px;
        }
        
        p {
            height: 140px;
            margin-top: -70px;
        }
    }
    
    #highScoresSection {
        img {
            margin-top: -173px;
        }
        
        p {
            height: 140px;
            margin-top: -70px;
        }
    }
}

@media all and (min-width: 900px) and (max-width: 1000px) {
    %sectionScreenshot {
        width: 550px;
    }

    %sectionScreenshotCenter {
        margin: -190px 0 0 -275px;
    }

    %sectionScreenshotLeft {
        margin-left: -435px;
    }

    %sectionScreenshotRight {
        margin-right: -435px;
    }

    %sectionDescription {
        width: 250px;
        font-size: 26px;
    }

    %sectionDescriptionLeft {
        margin-right: 175px;
    }

    %sectionDescriptionRight {
        margin-left: 175px;
    }
    
    #gameBoardSection  {
        img {
            margin-top: -160px;
        }
    
        p {
            height: 190px;
            margin-top: -95px;
        }
    }
    
    #savedGamesSection  {
        img {
            margin-top: -202px;
        }
        
        p {
            height: 154px;
            margin-top: -77px;
        }
    }
    
    #highScoresSection {
        img {
            margin-top: -173px;
        }
        
        p {
            height: 126px;
            margin-top: -63px;
        }
    }
}

@media all and (min-width: 600px) and (max-width: 900px) {
    #mainSection, #gameBoardSection, #savedGamesSection, #highScoresSection, #recapSection  {
        height: 800px;
        min-height: 800px;
    }
    
    #headerRusticCitrusLogo {
        float: none;
        display: block;
        margin: auto;
        padding-top: 30px;
        height: 200px;
    }

    #headerLinks {
        float: none;
        margin: 50px 0 0 0;
    }

    %headerLink {
        float: none;
        display: inline;
    }

    #rusticCitrusColorLogo {
        margin-top: -20px;
    }
    
    #playOnlineLink, #contactLink {
        margin: 10px 20px 0 20px;
    }

    %sectionScreenshot {
        position: static;
        display: block;
        width: 550px;
        margin: 0 auto 0 auto;
    }
    
    %sectionScreenshotCenter {
        padding-top: 75px;
    }
    
    #gameBoardSection {
        img {
            padding-top: 140px;
        }
    }
    
    #savedGamesSection {
        img {
            padding-top: 125px;
        }
    }
    
    #highScoresSection {
        img {
            padding-top: 145px;
        }
    }
    
    %sectionDescription {
        position: static;
        display: block;
        width: 500px;
        font-size: 32px;
    }

    %sectionDescriptionLeft {
        height: 200px;
        margin: 50px auto 0 auto;
    }

    %sectionDescriptionRight {
        height: 200px;
        margin: 50px auto 0 auto;
    }
}

@media all and (max-width: 600px) {
    #mainSection  {
        height: 700px;
        min-height: 700px;
        min-width: 318px;
    }
    
    #gameBoardSection, #savedGamesSection, #highScoresSection, #recapSection {
        height: 600px;
        min-height: 600px;
    }
    
    #scrollButton {
        display: none;
    }

    #headerRusticCitrusLogo {
        float: none;
        display: block;
        margin: auto;
        padding-top: 20px;
        height: 200px;
    }

    #headerLinks {
        float: none;
        margin: 30px 0 0 0;
    }

    %headerLink {
        float: none;
        display: block;
        margin: 0 auto 20px auto;
    }
    
    #downloadLink {
        width: 200px;
    }

    %sectionScreenshot {
        position: static;
        display: block;
        width: 280px;
        margin: 0 auto 0 auto;
    }
    
    %sectionScreenshotCenter {
        padding-top: 30px;
    }
    
    #gameBoardSection {
        img {
            padding-top: 85px;
        }
    }
    
    #savedGamesSection {
        img {
            padding-top: 80px;
        }
    }
    
    #highScoresSection {
        img {
            padding-top: 105px;
        }
    }
    
    %sectionDescription {
        position: static;
        display: block;
        width: 220px;
        font-size: 26px;
    }

    %sectionDescriptionLeft {
        height: 200px;
        margin: 50px auto 0 auto;
    }

    %sectionDescriptionRight {
        height: 200px;
        margin: 50px auto 0 auto;
    }
    
    #recapSection {
        div {
            margin-left: -188px;
            width: 376px;
        }
    
        #rusticCitrusColorLogo {
            margin-top: 40px;
            width: 375px;
        }
    }
    
    %badge {
        width: 360px;
    }
    
    #emailForm {
        width: 300px;
        height: 316px;
        margin: -158px 0 0 -150px;
    }

    #emailFormMessage {
        font-size: 32px;
    }
    
    #emailPolicy {
        margin-top: 5px;
    }

    #emailForm input {
        font-size: 1.0em;
        width: 275px;
    }
    
    #emailFormSuccessMessage {
        width: 276px;
        height: 106px;
        margin: -53px 0 0 -138px;
        font-size: 30px;
    }
}

@media all and (max-width: 400px) {
    #scrollButton {
        display: none;
    }
    
    #recapSection {
        div {
            margin-left: -140px;
            width: 280px;
        }
    
        #rusticCitrusColorLogo {
            margin-top: 100px;
            width: 280px;
        }
    }
    
    %badge {
        width: 250px;
    }
    
    #copyrightSection {
        div {
            width: 200px;
            height: 130px;
            margin: -65px 0 0 -100px;
            text-align: center;
        }
        
        p {
            position: static;
            float: none;
            margin: 0 0 10px 0;
        }
        
        #floatingHouseStudiosLogo {
            position: static;
            float: none;
            margin: 0 0 0 0;
        }
    }
}